@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');

:root {
  --primary-color: #121212;
  --secondary-color: #1d1d1d;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.search {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
}

.search::placeholder {
  color: #848484;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  color: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}
.movie img {
  width: 100%;
}

.movie-info {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px 15px;
  letter-spacing: 0.5px;
}

.movie-info h2 {
  margin-top: 0;
  font-size: 20px;
}

.movie-info span {
  font-weight: 700;
}

.movie-info span.green {
  color: #4caf50;
}

.movie-info span.orange {
  color: #f9a825;
}

.movie-info span.red {
  color: #f44336;
}

.overview {
  background-color: rgba(255, 255, 255, 0.9);
  color: var(--primary-color);
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: 0.3s linear;
}

.overview h3 {
  margin: 0;
}

.movie:hover .overview {
  transform: translateY(0);
}
