* {
  box-sizing: border-box;
}

body {
  background-color: #212121;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: 3px solid #fff;
  background-color: #212121;
}

.fill {
  background-image: url('https://source.unsplash.com/random/150x150');
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hovered {
  background-color: #2196f3;
  border-style: dashed;
}

@media screen and (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
